<% if todos.any? %>
    <% todos.each do |todo| %>
        <div class="todo">
          <h2><%= todo.status %></h2>
          <p><%= todo.title %></p>
        </div>
    <% end %>
<% else %>
    <p class="placeholder">There are no todos yet.</p>
<% end %>